/********************************************
This is the print style sheet,
which defines which items will not be visible
or have different formatting on printed pages.
Customized for each project.
*********************************************/
html,body
{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body,td,th,p,select,input,a,em,strong,li,ul,span,table
{
	font-family: Georgia,Times,serif !important;
	font-size: 11px !important;
	line-height: 16px !important;
	color: #000 !important;
	background-image: none !important;
	background-color: white !important;
	text-align:left;
}

a
{
    color:#000 !important;
    text-decoration:none !important;
}
    
a:after { content:" [" attr(href) "]"; }

a:link:after, a:visited:after {
   content: "";
}
  
table
{
    width:auto !important;
    height:auto !important;
    border:0 !important;
    margin:0 !important;
    padding:0 !important;
}

/* Hide the following things */
.skipnav,
.header,
.banner_holder,
.breadcrumb,
.last_updated,
.printer_friendly,
.downloadmessage,
.footer,
.footer_home,
.leftnav,
.toolbox,
.adminSpan,
#dropdownmenu,
.topnavimage,
.title_wrapper img,
.filter,
.depthome_right,
.title_wrapper a,
.forward_link_hyperlink,
.forward_link
{
	display:none !important;
}

.home_collage,
.home_buttons,
.home_right
{
	display:none !important;
}

.contentheader
{
	border:0px;
	padding:0px;
	margin:0px;	
}

div, span
{
    padding:0;
    margin:0;
    float:none !important;
}

.contentheader h1
{
	font-size: 22px !important;
	margin-bottom:20px !important;
}

.contentheader h2
{
    font-size: 16px !important;
}

.contentheader h1,
.contentheader h2
{
	font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
    margin:0 0 10px;
    padding:0;
}

.container,
.container_noleftnav,
.container_noleftnav_notitle,
.mainSpan 
{
	float: none !important;
	width:600px;
	height:auto !important;
	border:0;
	overflow:visible;
}

.content
{
	background-color:#fff;
	margin:0;
	border:0;
	padding:20px;
}